@{
    ViewData["Title"] = "Home Page";
}
<br /><br /><br /><br />
<div class="text-center">
    <h1 class="display-5"><b>Innova .Net Core Bootcamp Patika.dev</b></h1>
    <h2 class="display-6"><b>Bitirme projesi</b></h2>
    <h3 class="display-7"><b>Site borç yönetimi</b></h3>
    <h4 class="display-8"><a href="https://github.com/ridvankuntug"><b>Rıdvan Küntuğ</b></a></h4>
</div>
