@using SiteManagementUi.Services
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteManagementUi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SiteManagementUi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (UserService.Token is not null)//Token boş olduğunda hata almamak için önce token nesnesi oluşmuş mu diye kontrol ediyoruz
                        {
                            @if (UserService.Token.Role == "Admin")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Apartments
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Apartment" asp-action="GetAllApartment">GetAllApartment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Apartment" asp-action="AddApartment">AddApartment</a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                            }
                            @if (UserService.Token.Role == "Admin" || UserService.Token.Role == "User")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Debts
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @if (UserService.Token.Role == "Admin")
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="AddDebtToAll">AddDebtToAll</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="GetAllPaidDebt">GetAllPaidDebt</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="GetAllNotPaidDebt">GetAllNotPaidDebt</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="GetPaidDebtByPeriod">GetPaidDebtByPeriod</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="GetAllDebtByUserId">GetAllDebtByUserId</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Debt" asp-action="GetNotPaidDebtByUserId">GetNotPaidDebtByUserId</a>
                                    </div>
                                </li>
                            }
                            @if (UserService.Token.Role == "Admin" || UserService.Token.Role == "User")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Messages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="GetMessageByReciverId">GetMessageByReciverId</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="GetMessageBySenderId">GetMessageBySenderId</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="AddMessage">Send Message</a>

                                    </div>
                                </li>
                            }
                            @if (UserService.Token.Role == "Admin" || UserService.Token.Role == "User")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Users
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="GetAllUser">GetAllUser</a>
                                        @if (UserService.Token.Role == "Admin")
                                        {
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AddUser">AddUser</a>
                                        }
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        @if (UserService.Token is null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-light btn-small btn-nav" asp-area="" asp-controller="Login" asp-action="GetLogin">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-light btn-small btn-nav" asp-area="" asp-controller="" asp-action=""> Hoşgeldin @UserService.Token.UserFullName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SiteManagementUi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
